@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* --*: initial; */

  --spacing: 0.5rem;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  --animate-spin: spin 3s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}

@theme inline {
  --primary-color: var(--palette-primary-main);
  --error-color: var(--palette-error-main);
  --warning-color: var(--palette-warning-main);
  --success-color: var(--palette-success-main);
  --info-color: var(--palette-info-main);
  --border-color: var(--palette-divider);
  --bg-color: var(--palette-background-default);
}

body {
  overscroll-behavior: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}
